body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: radial-gradient(circle at top, #0f172a, #020617);
  color: #fff;
}

/* HERO */
.hero {
  text-align: center;
  padding: 70px 20px;
}

.hero h1 {
  font-size: 4rem;
  background: linear-gradient(45deg, #00e5ff, #00ff95);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
  font-size: 1.3rem;
  opacity: 0.85;
}

/* SEARCH */
.search-box {
  margin-top: 30px;
}

.search-box input {
  padding: 14px 22px;
  width: 320px;
  border-radius: 30px;
  border: none;
  font-size: 1rem;
}

.search-box button {
  padding: 14px 30px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(45deg, #00e5ff, #00ff95);
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

/* KPI */
.kpi-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 40px 0;
}

.kpi {
  width: 190px;
  padding: 22px;
  border-radius: 18px;
  text-align: center;
  font-size: 1.4rem;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 25px rgba(0,255,200,0.15);
}

.kpi span {
  display: block;
  margin-top: 8px;
  font-size: 0.9rem;
  opacity: 0.8;
}

.temp { background: linear-gradient(135deg, #ff512f, #dd2476); }
.hum { background: linear-gradient(135deg, #00c6ff, #0072ff); }
.wind { background: linear-gradient(135deg, #56ab2f, #a8e063); }
.rain { background: linear-gradient(135deg, #7f00ff, #e100ff); }
.pres { background: linear-gradient(135deg, #11998e, #38ef7d); }

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
  gap: 30px;
  padding: 40px;
}

.card {
  background: rgba(255,255,255,0.08);
  padding: 25px;
  border-radius: 22px;
  backdrop-filter: blur(14px);
  box-shadow: 0 0 25px rgba(0,0,0,0.4);
}

#map {
  height: 260px;
  border-radius: 15px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 40px;
  opacity: 0.7;
  font-size: 0.9rem;
}
