.travel-container {
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.subtitle {
  color: #aaa;
  margin-bottom: 30px;
}

.travel-box input {
  padding: 12px;
  width: 200px;
  border-radius: 6px;
  border: none;
  margin: 5px;
  font-size: 16px;
}

.travel-box button {
  padding: 12px 25px;
  border-radius: 6px;
  border: none;
  background: #00e5ff;
  color: black;
  font-size: 16px;
  cursor: pointer;
}

.result-card {
  margin-top: 40px;
  background: #111827;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,229,255,0.3);
}

.risk-score {
  font-size: 60px;
  font-weight: bold;
  margin: 15px 0;
}

.risk-status {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.weather-info {
  margin-top: 25px;
  text-align: left;
}
